.App {
  display: grid;
  place-items: center;
  background-color: #e5d0ad;
  font-family: 'Noto Serif KR', serif;
  width: 100vw;
  height: 100vh; }

#AppWrapper {
  display: grid;
  grid-template-rows: 54px 1fr;
  row-gap: 10px; }
  #AppWrapper main {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 54px 1fr; }
    #AppWrapper main .listDivider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px; }

.AppHeader {
  display: grid;
  place-items: center;
  width: 100%; }

@media (max-width: 757px) {
  #AppWrapper {
    width: 90vw;
    height: 80vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5ebdc; }
    #AppWrapper main .listDivider {
      display: grid;
      column-gap: 0px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr); } }

@media (min-width: 758px) and (max-width: 1023px) {
  #AppWrapper {
    width: 80vw;
    height: 80vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5ebdc; } }

@media (min-width: 1024px) {
  #AppWrapper {
    width: 70vw;
    height: 80vh;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5ebdc; } }
