@import './mixin';

.App {
  @include gridCenter;
  background-color: rgba(229, 208, 173, 1);
  font-family: 'Noto Serif KR', serif;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#AppWrapper {
  display: grid;
  grid-template-rows: 54px 1fr;
  row-gap: 10px;
  min-height: 50vh;
  height: auto;
  main {
    display: grid;
    row-gap: 10px;
    grid-template-rows: 54px 1fr;
    .listDivider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
    }
  }
}

.AppHeader {
  @include gridCenter;
  width: 100%;
}

@include mobile {
  #AppWrapper {
    width: 90vw;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 235, 220, 1);
    main {
      .listDivider {
        display: grid;
        column-gap: 0px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}

@include tablet {
  #AppWrapper {
    width: 80vw;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 235, 220, 1);
  }
}

@include desktop {
  #AppWrapper {
    width: 70vw;
    height: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(245, 235, 220, 1);
  }
}
